{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class='cal'>
    <div class='container'>
        <h6>Add Event:</h6>
        <hr>
        <form action="{% url 'add_event' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark">Add Event</button>
        </form>
        {% else %}
    <div class="cal" style="padding: 5%;">
        <div class='container text-center'>
            <h6 style="text-align: center;">You need to login to view</h6>
            <a href="{% url 'index' %}" class="btn btn-success">Home</a>
            <a  href="{% url 'user_login' %}" class="btn btn-primary">Login</a>
        </div>
    </div>
{% endif %}
    </div> 
</div>
{% endblock content %}


