{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <div class='cal'>
        <div class="container">
            <h6>Update Venue:</h6>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-light">Update</button>
            </form>
        
        </div>
    </div>
{% else %}
    <div class="cal" style="padding: 5%;">
        <div class='container text-center'>
            <h6 style="text-align: center;">You need to login to view</h6>
            <a href="{% url 'index' %}" class="btn btn-success">Home</a>
            <a  href="{% url 'user_login' %}" class="btn btn-primary">Login</a>
            
        </div>
    </div>
{% endif %}

{% endblock content %}
