
.cal{

    background-color: rgba(213, 213, 213,0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

/* side scroll for all venue picture */
div.scroll-container {
  /*background-color: #333;*/
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

.c-item{
   height: 480px;
}

.c-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
